/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: Arial;
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 12%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: border-left: ;
  display: none;
  padding: 50px 20px;
  height: 90%;
}

.tabcompartment {
  color: border-left: ;
  display: none;
  padding: 50px 20px;
  height: 100%;
}

#MenueHolder {background-color: grey; background-image: url("/Nickel4020.jpg")}
#FooterHolder {background-color: grey; background-image: url("/Nickel4020.jpg")}
#TabHolder {background-color: grey; background-image: url("/Nickel4020.jpg")}
//#BasicCfg {background-color: grey; background-image: url("/Nickel80160.jpg")}
//#LEDCfg {background-color: grey;background-image: url("Nickel80160.jpg")}
//#ButtonCfg {background-color: grey;background-image: url("Nickel80160.jpg")}
//#BDetCfg {background-color: grey;background-image: url("Nickel80160.jpg")}
//#SwitchCfg {background-color: grey;background-image: url("Nickel80160.jpg")}
//#SignalCfg {background-color: grey;background-image: url("Nickel80160.jpg")}
//#SecElCfg {background-color: grey;background-image: url("Nickel80160.jpg")}
//#RouteCfg {background-color: grey;background-image: url("Nickel80160.jpg")}

.pagemain {
  float: left; 
  width: 100%; 
  height: 100%;
}

.pagetitlebox {
  float: left; 
  width: 100%; 
  padding:5px;
}

.pagetopicbox {
  float: left; 
  width: 100%; 
  padding:5px;
}

.menuesectionbox {
  float: left; 
  width: 100%; 
  padding:5px;
  height: 8%;
//  background:blue;
}

.footersectionbox {
  float: left; 
  width: 100%; 
  padding:5px;
  height: 12%;
  background:green;
}

.tabsectionbox {
  float: left; 
  width: 100%; 
  height: 80%;
//  padding:5px;
//  background:red;
}

.viewerbox {
//  float: left; 
  width: 100%-20px; 
  height: 400px;
  overflow-y: scroll;
  padding:5px;
  background:white;
}

.clientbox {
//  float: left; 
  width: 100%-20px; 
  height: 150px;
  overflow-y: scroll;
  padding:5px;
  background:white;
}

.colorpicker {
  float: left; 
  width: 100px; 
  height: 25px;
}

.pagetopicboxscroll-y {
  float: left; 
  width: 100%; 
//  height: 600px;
  height: 100%;
  overflow-y: scroll;
//  padding:5px;
//  background:blue;
}

.tile-1 {
  float: left; 
  text-align: left;
  width: 100%; 
  padding:5px;
}

.tile-2_3 {
  float: left; 
  text-align: left;
  width: 66% - 25px; 
  padding:5px;
}

.tile-1_2 {
  float: left; 
  text-align: left;
  width: 50% - 20px; 
//  padding:5px;
}

.tile-1_3 {
  float: left; 
  text-align: left;
  width: 33% - 15px; 
  padding:5px;
}

.tile-1_4 {
  float: left; 
  text-align: left;
  width: 25%-10px; 
  padding:5px;
}

.pagelinebox {
  float: left; 
  width: 100%; 
}
.divhalfcolumn {
  float: left; 
  width: 45%; 
  padding:5px;
}

.divfullcolumn {
  float: left; 
  width: 100%; 
  padding:5px;
}

.divembedded {
  float: left; 
  width: 100%; 
}

.diveightcolumn {
  float: left; 
  width: 10%; 
  padding:5px;
}

.checkbox {
  float: left; 
  height: 15px;
  width: 15px;
  text-align: left;
  text-indent: 30px;
}

.radiobutton {
  float: left; 
  height: 15px;
  width: 15px;
  text-align: left;
}

.checkboxtext {
  float: left; 
  text-align: left;
//  text-indent: 10px;
}

.topictext_float {
  float: left; 
  width: 200px;
  text-align: left;
}

.inputtext_float {
  float: left; 
  text-align: left;
  text-indent: 5%;
}

.inputtext_tab1 {
  float: left; 
  width: 200px;
  text-align: left;
  text-indent: 30px;
}

.inputtext_tab2 {
  float: left; 
  width: 200px;
  text-align: left;
}

.inputtext_tab3 {
  float: left; 
  width: 200px;
  text-align: left;
}

.inputtext_tab4 {
  float: left; 
  width: 200px;
  text-align: left;
}

.inputtext_float {
  float: left; 
  text-align: left;
}

.inputtext_space {
  float: left; 
  text-align: left;
  width: 20px;
}

.inputcontainer_1 {
  float: left; 
  width: 10%;
  text-align: left;
//  background: blue;
}

.inputcontainer_2 {
  float: left; 
  width: 90%;
  text-align: left;
//  background: red;
}

.linecontainer_1 {
  float: left; 
  width: 100%;
  text-align: left;
//  background: red;
}

.linecontainer_px1ind {
  float: left; 
  width: 150px;
  text-align: left;
//  background: red;
  text-indent: 30px;
}

.selectorbox {
  float: left; 
  width: 100px;
  text-align: left;
}

.manipulatorbox {
  float: left; 
  width: 110px;
  height: 100%;
  text-align: left;
}

.gaugebox {
  float: left; 
  width: 210px;
  height: 210px;
  text-align: left;
}

.posfield {
  float: left; 
  width: 50px;
  height: 100%;
  text-align: left;
//  background : yellow;
}

.sourcesel {
//  float: left; 
  width: 320px;
  height: 60px;
  text-align: left;
//  background : green;
}

.servosel {
//  float: left; 
  width: 450px;
  height: 60px;
  text-align: left;
//  background : green;
}

.servoledsel {
//  float: left; 
  width: 450px;
  height: 90px;
  text-align: left;
//  background : green;
}

.inputsel {
//  float: left; 
  width: 510px;
  height: 60px;
  text-align: left;
//  background : green;
}

.cmdsel {
//  float: left; 
  width: 450px;
  height: 60px;
  text-align: left;
//  background : green;
}

.eventmask {
  float: left; 
  width: 550px;
  height: 100%;
  text-align: left;
//  background : green;
}

.cmdedit {
//  float: left; 
  width: 840px;
  height: 100%;
  text-align: left;
//  background : red;
}

.servotile {
//  float: left; 
  width: 100% - 10px;
  height: 20px;
  text-align: left;
  padding: 5px;
}

.mastertile {
//  float: left; 
  width: 100% - 10px;
  height: 40px;
  text-align: left;
//  background : cyan;
  padding: 5px;
}

.mastertile3L {
//  float: left; 
  width: 100%;
  height: 80px;
  text-align: left;
//  background : cyan;
  padding: 5px;
}

.editortile {
//  float: left; 
  width: 100%;
  height: 100%;
  text-align: left;
//  background : blue;
}

.editorpanel {
//  float: left; 
  width: 100%;
  height: 50%;
  text-align: left;
//  background : yellow;
  padding: 2px;
}

.editorpanel3 {
//  float: left; 
  width: 100%;
  height: 33%;
  text-align: left;
//  background : yellow;
  padding: 2px;
}

.shorttext {
  float: left; 
  width: 50%;
  text-align: left;
}

.numinputshort {
  float: left; 
  width: 50px;
  height: 20px;
  text-align: left;
}

.numinputmedium {
  float: left; 
  width: 75px;
  height: 20px;
  text-align: left;
}

.numinputstandard {
  float: left; 
  height: 20px;
  text-align: left;
}

.inputtext_long {
  float: left; 
  width: 250px;
  text-align: left;
}

.inputtext_left {
  float: left; 
  text-align: left;
}

.inputtext_title {
  float: left; 
  text-align: left;
//  font-size: 18px;
  font-weight: bold;
}
.inputtext_space {
  float: left; 
  text-align: left;
  width: 20px;
}


.linecontainer_px1 {
  float: left; 
  width: 200px;
  text-align: left;
  text-indent: 5px;
//  background: red;
}

.break2
{
  float: left; 
  width : 2px;
  padding: 2px;
}

.break5
{
  float: left; 
  width : 5px;
  padding: 2px;
}

.break10
{
  float: left; 
  width : 10px;
  padding: 2px;
}

.break20
{
  float: left; 
  width : 20px;
  padding: 2px;
}

.break50
{
  float: left; 
  width : 50px;
  padding: 2px;
}

table, th, td {
  border: 1px solid black;
  font-size:16px;
}

.headimagepaneldiv {
  float: left; 
  width: 20%;
  height: 100%;
  padding: 1px;
}

.headimageholder {
  float: left;
  height: calc(100%-30px);
  width: 100%;
//  background: blue;
}
.lampsetuppaneldiv {
  float: left; 
  width: 30%;
  height: 100%;
  padding: 1px;
}

.tablediv {
  float: left; 
  width: 100%;
  height: 100%
}

.tablepaneldiv {
  float: left; 
  width: 100%;
  height: 300px;
//  background: gray;
  padding: 1px;
  border: 1px solid black;
}

.sortpaneldiv {
  float: left; 
  width: 80px;
  height: calc(100% - 2px);
  background: red;
  border: 1px solid gray;
  padding: 1px;
}

.workpaneldiv {
  float: left; 
  width: calc(100% - 90px);
  height: calc(100% - 2px);
  background: green;
  padding: 1px;
}

.titlepaneldiv {
  float: left; 
  width: 100%;
  height: 30px;
//  background: blue;
  padding: 1px;
}

.contentpaneldiv {
  float: left; 
  width: 100%;
  height: calc(100% - 64px);
  background: grey;
  padding: 1px;
}

.truthtablepaneldiv {
  float: left; 
  width: calc(50% - 64px);
  height: 100%;
  padding: 1px;
}

.truthtableholder {
  float: left; 
  width: 100%;
  height: calc(100% - 22px);
  overflow-x: scroll;
  overflow-y: scroll;
  padding: 1px;
//  background: cyan;
}

.colorpaneldiv {
  float: left; 
  width: 100%;
  height: 25px;
//  background: blue;
  padding: 1px;
}

.blinkpaneldiv {
  float: left; 
  width: 100%;
  height: 25px;
//  background: red;
  padding: 1px;
}

.tablebody {
  width : 90%;
//  height : 80%;
  float: left; 
}

.tableheader {
  float: left; 
  width: 100%;
  border: 2px;
}

.tablerow {
  float: left; 
  width: 100%;
  background: gray;
//  padding: 2px;
  border: 1px solid black;
}

.tablerownobg {
  float: left; 
  width: 100%;
//  background: gray;
//  padding: 2px;
//  border: 1px solid black;
}

.cellheader {
  float: left; 
}

.th_col20 {
  float: left; 
  width: 20px;
}

.th_col50 {
  float: left; 
  width: 50px;
}

.th_col75 {
  float: left; 
  width: 75px;
}

.th_col100 {
  float: left; 
  width: 100px;
}

.th_col150 {
  float: left; 
  width: 150px;
}

.th_col200 {
  float: left; 
  width: 200px;
}

.mod-button {
  float: left; 
  width: 150px;
  height: 36px;
  padding:10px;
}

.slim-button {
  float: left; 
  width: 75px;
  height: 20px;
//  padding:10px;
}

.colorlist {
  float: left; 
  width: 160px;
  height: 100px;
//  overflow-y: scroll;
//  size: 6;
//  text-indent: 30px;
//  padding:10px;
}

.colordialog {
  float: left; 
  width: 75px;
  height: 20px;
}

.img_icon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.img_icon35 {
  width: 35px;
  height: 35px;
  vertical-align: middle;
}

.slidecontainer {
    width: 10%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.vranger {
  margin-top: 00px;
  height: 250px;
   transform: rotate(270deg);
  -moz-transform: rotate(270deg); /*do same for other browsers if required*/
}

.circleDiv {
  float: left; 
  width: 20px;
  height: 20px;
//  padding:10px;
}

.circleBase {
  float: left; 
  border-radius: 50%;
//    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
}

.circle100 {
    width: 100px;
    height: 100px;
    background: yellow;
    border: 3px solid white;
}

.circle50 {
    width: 50px;
    height: 50px;
    background: #ccc;
    border: 3px solid #000;
}

.circle35 {
    width: 35px;
    height: 35px;
    background: #ccc;
    border: 3px solid white;
    vertical-align: middle;
}

.circle20 {
    width: 20px;
    height: 20px;
    background: blue;
    border: 1px solid white;
}

/*
.modal {
  display: none;
  position: fixed; 
  padding-top: 50px;
  left: 0; 
  top: 0;
  width: 100%;
  height: 100%; 
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: relative; 
  background-color: white;
  padding: 20px; 
  margin: auto; 
  width: 75%;  
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

.modal-header {
  position: relative; 
  background-color: white;
  padding: 20px; 
  margin: auto; 
  width: 75%;  
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

.modal-footer {
  position: relative; 
  background-color: white;
  padding: 20px; 
  margin: auto; 
  width: 75%;  
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

.close-btn {
  float: right; 
  color: lightgray; 
  font-size: 24px;  
  font-weight: bold;
}
.close-btn:hover {
  color: darkgray;
}
*/

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: grey;
  background-image: url("/Nickel4020.jpg");
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: grey;
  background-image: url("/Nickel4020.jpg");
  color: white;
}

.pickerlabel {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

.pickerinput,
.pickerlabel {
	float: left;
    margin: .4rem 0;
}
